apiVersion: v1
kind: Secret
metadata:
  name: core-secrets
  namespace: ticketremaster-core
type: Opaque
stringData:
  JWT_SECRET: 82dd875ecbfc8e50cfe16d201d6e226402aa6764b032479d9cdb095ed1c6dec2
  QR_SECRET: 6d05baf4de6a6b4907a21828176d60a10ce37ef2f4b0e645f33520f4a9a911d8
  OUTSYSTEMS_API_KEY: 
  STRIPE_SECRET_KEY: 
  STRIPE_WEBHOOK_SECRET: 
  SMU_API_KEY: 
---
apiVersion: v1
kind: Secret
metadata:
  name: core-data-secrets
  namespace: ticketremaster-core
type: Opaque
stringData:
  RABBITMQ_USER: guest
  RABBITMQ_PASS: guest
  USER_SERVICE_DB_PASSWORD: user_dev_pass
  VENUE_SERVICE_DB_PASSWORD: venue_dev_pass
  SEAT_SERVICE_DB_PASSWORD: seat_dev_pass
  EVENT_SERVICE_DB_PASSWORD: event_dev_pass
  SEAT_INVENTORY_SERVICE_DB_PASSWORD: inventory_dev_pass
  CREDIT_TRANSACTION_SERVICE_DB_PASSWORD: credit_dev_pass
  TICKET_SERVICE_DB_PASSWORD: ticket_dev_pass
  TICKET_LOG_SERVICE_DB_PASSWORD: ticket_log_dev_pass
  MARKETPLACE_SERVICE_DB_PASSWORD: marketplace_dev_pass
  TRANSFER_SERVICE_DB_PASSWORD: transfer_dev_pass
---
apiVersion: v1
kind: Secret
metadata:
  name: data-secrets
  namespace: ticketremaster-data
type: Opaque
stringData:
  RABBITMQ_USER: guest
  RABBITMQ_PASS: guest
  USER_SERVICE_DB_PASSWORD: user_dev_pass
  VENUE_SERVICE_DB_PASSWORD: venue_dev_pass
  SEAT_SERVICE_DB_PASSWORD: seat_dev_pass
  EVENT_SERVICE_DB_PASSWORD: event_dev_pass
  SEAT_INVENTORY_SERVICE_DB_PASSWORD: inventory_dev_pass
  CREDIT_TRANSACTION_SERVICE_DB_PASSWORD: credit_dev_pass
  TICKET_SERVICE_DB_PASSWORD: ticket_dev_pass
  TICKET_LOG_SERVICE_DB_PASSWORD: ticket_log_dev_pass
  MARKETPLACE_SERVICE_DB_PASSWORD: marketplace_dev_pass
  TRANSFER_SERVICE_DB_PASSWORD: transfer_dev_pass
---
apiVersion: v1
kind: Secret
metadata:
  name: edge-secrets
  namespace: ticketremaster-edge
type: Opaque
stringData:
  CLOUDFLARE_TUNNEL_TOKEN: 
